# Topic: print()

1) Using the python print function print any string value, integer value, boolean value, float value in single print command

In [1]:
print("Hello",12, 12.3, True)

Hello 12 12.3 True

2) Using the python print function print hyphon(-) separated any string value, integer value, boolean value, float value in single print command

In [5]:
print("Hello","-", 12,"-", 12.3,"-", True)

Hello - 12 - 12.3 - True

3) Using the python print function print any string value, integer value, boolean value, float value in separate print command.
But every value must be space separated and in single line

In [7]:
print("Hello"," ", 12," ", 12.3," ", True)

Hello   12   12.3   True

In [ ]:
print("hello", 12, 12.3, true )

4) Can a python print function take no value to print???

no

# TOPIC :Variables in Python Operators

5) One of my friends name is Mr. Ahmed. He is 30 years old.  He is a lawer by profession. He has done his bachelors in law in the year 2005. He is working with a reputable law firm 'The Himalya Associates' in Karachi since 2015.
He is a handsome lawer with height of 5.10 feets and weight 70600g. His monthly income is Rs. 200k PKR.

Note: Create variables from above text and also assign values from the text.

In [17]:
Name = ("Ahmed")
age = 30
height_ft = 5.10
weight_gm = 70600
profession = ("lawyer")
graduation_year= 2005
Company_name= ("The Himalya Associates")
company_location= ("Karachi")
joining_date = 2015
income_pkr= 200000

In [27]:
other_experience= (joining_date - graduation_year )
current_experience = (2024 - joining_date )
height_cm = ( height_ft * 30.48 )
weight_kg = ( weight_gm / 1000 )
annual_income = (income_pkr * 12 )

In [31]:
print(other_experience)
print(current_experience)
print(height_cm)
print(weight_kg)
print(annual_income)

10
9
155.44799999999998
70.6
2400000

6)How many years has been to Mr. Ahmed after his bachelors degree? Create a variable that hold current year value and then subtract it from his passout year

In [67]:
overall_experience = ( 2024 - graduation_year)
print(overall_experience)

19

7) How many years has Mr. Ahmed been working with law firm 'The Himalya Associates'. Create necesary variables and print the correct number of years in working in the firm

8)Convert the monthly income of Mr. Ahmed in dollars.  Create necesary variables and print the income in dollars.

In [45]:
income_dollar= (200000 / 277.78 )
print(income_dollar )

719.9942400460797

9) Check if the income in dollars is a float or integer value. if it is float, re-write the code so that income gets converted in integer. print the income in integer type value

In [8]:
income_dollar= int(200000 / 277.78 )
print(income_dollar )

719

10) Print the type of Mr. Ahmed's weight. Convert the weight of Mr. Ahmed in kg so that weight must be a integer value.

In [73]:
born_year = ( 2024 - 30 )
print(born_year)

1994

In [22]:
#11) print the year of birth of Mr. Ahmed.

1994

In [39]:
print( 100 % 6)

4

12) Can Rs. 100 be divided equally among 6 students?
HINT: % operator (modulo)

In [ ]:
10%2
# 10 is completely divisible by2
# 10 is multiple of 2
# 2 is a factor of 10
# 10 comes in table of 2

0

                       Saylani Mass IT 
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909

In [75]:
Institute = input (" ")
Name = input (" ")
course = input (" ")
days = input("")
ID = input (" ")

  Saylani Mass IT
  Asif Khan
  Tuesday and Thursday
 AI- 33290909
  AI & DS

In [10]:
print( """
    Saylani Mass IT 
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909
             """)

    Saylani Mass IT
             Name   : Nasir Hussain
             Course : AI and DS
             Days   : Tuesday and Thursday
             ID     : AI - 332909